@font-face {
  font-family: myFont;
  src: url(wizard.ttf);
}
*{
  box-sizing: border-box
  padding: 0;
  font-family: myFont;

}
body{
  background-color: #eee;
  color: #4a2b10;
}
#header{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px , 10px;
  align-items: center;
  background-color: #eee;
}
nav{

}
nav>ul{
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}
li{
  list-style: none;
}
header>img{
  width: 300px;
}
img{
  width: 50px;
  margin-right: 15px;

}
#section{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#feature .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
#how-it-works{
  display: flex;
  justify-content: center;
}
iframe{
  width: 100%;
  max-width: 560px;
}
#footer{

  background-color: #ddd;
  display: flex;
  margin-top: 40px;
  padding:20px;
  align-items: flex-end;
  flex-direction: column;

}
.container{
  max-width: 1000px;
  align-items: center;
  margin: auto;

}
footer>ul{
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}
#pricing{
  display: flex;
  flex-direction: row
  align-items: center;
  justify-content: space-between;
}
.product{
  margin-top: 30px;
  width: 100%;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product>div{
  background-color: #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product>ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
